@media screen and (min-width: 1440px) {
    .cnt1{
        margin-top: 20%;
    }
}

@media screen and (max-width: 1440px) {
    .cnt1{
        margin-top: 20%;
    }
    .nav{
        margin: 2% 42%;
    }
}

@media screen and (max-width: 1024px) {
    .cnt1{
        margin-top: 25%;
    }
    .nav{
        margin: 2% 39%;
    }
}

@media screen and (max-width: 768px) {
    .cnt1{
        margin-top: 35%;
    }
    .nav{
        margin: 2% 35%;
    }
    .blog{
        height: 25rem;
        margin: 1rem 0;
    }
    .blog-content h2 {
        font-size: 20px;
    }
    .blog-content p {
        font-size: 11px;
    }
    .recent-posts{
        grid-auto-rows: 26rem 31rem;
    }
    .learn-more-btn {
        padding: 10px 23px;
    }
}

@media screen and (max-width: 431px) {
    .title {
        font-size: 30px;
        color: white;
    }
    main {
        padding: 80px 3rem;
    }
    .recent-posts {
        grid-template-columns: repeat(1, 1fr);
    }
    #hamburger-nav {
        display: flex;
    }
    .hide{
        display: none;
    }
    .nav-bar{
        position: fixed;
        z-index: 5;
        backdrop-filter: blur(1px);
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0 0 0 / 78%));
    }
    .footer-txt {
        font-size: 13px;
    }
}












